<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77551173790-7qo7ff5kv1f7s89r2kpnbkatldbj6acf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77551173790-7qo7ff5kv1f7s89r2kpnbkatldbj6acf</string>
	<key>API_KEY</key>
	<string>AIzaSyAhwhwe7hpPB8H6O99Gnssd9l3QV8XBlAA</string>
	<key>GCM_SENDER_ID</key>
	<string>77551173790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.semihozsoy.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-359df</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-359df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77551173790:ios:316ea21ea78eae73e57b8f</string>
</dict>
</plist>
